.driving-full{
    padding: 50px 6%;
    
}
.driving-users{
    text-align: center;
    margin: 50px 0px;
}
.driving-users h3{
    font-size: 14px;
    font-weight: 600;
   color: #1D4ED8;

}
.driving-users h2{
    font-size: 36px;
    font-weight:600 ;
}
.second-parts{
 
    display: flex;
    justify-content: center;
    padding-left: 100px;
    margin:50px 0px;
    
}
.part1 img{
    width: 300px;
    height: 300px;
}
.part2{
    width: 60%;
}
.part2 h3{
    font-size: 35px;
    font-weight: 500;
    width: 800px;
    height: 114px;
      margin-bottom: 50px;
    
}
.part2 p{
    font-size: 20px;
    font-weight: 400;
    color:  #52525B; 
    width: 800px;
    margin-bottom: 30px;
    
}
.part2 h2{
    font-size: 20px;
    font-weight: 600;
}
.part2 h4{
    font-weight: 300;
}





@media (max-width:500px){
    .driving-full{
    padding: 50px 0;
    width: 500px;
}

    .driving-full{
   margin-top:270px;
    
}
.driving-users h2{
    font-size: 32px;
    font-weight:600 ;
    width:500px;
    padding-right:50px;
}
.second-parts{
 
    display: flex;
    
    flex-direction:column;
    margin-left:0;
    padding-left:0;
    
}
.part1 img{
    width: 150px;
    height: 150px;
    margin-left:130px;
}
.part2 h3{
    font-size: 25px;
    font-weight: 500;
    width: 450px;
    height: 114px;
    margin-bottom: 50px;
    padding-left:15px;
    
}
.part2 p{
    font-size: 20px;
    font-weight: 400;
    color:  #52525B; 
    width: 450px;
    margin-bottom: 30px;
     padding-left:15px;
}
.part2 h2{
     padding-left:15px;
}
.part2 h4{
      padding-left:15px;
}

}
