.full{
     padding:50px 0px;   
     background-color: rgb(223, 222, 222);
}
.full h1{
    font-size: 60px;
    text-align: center;
}
.card{
    width: 330px;
    height: 600px;
    border-radius: 14px;
    background-color: black;
    border: 1px solid black;
    margin-left: 100px;
    
}
.card img{
    border-radius: 14px;
}
.card .card-text{
    padding-top: 60px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: black;
    color: white;
    border-radius: 14px;
   
    
}
.card .card-text h3{
    margin-bottom: 10px;
    
}
.card .card-text:hover{
    padding-top: 0;
    padding-bottom: 60;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
    
}






@media (max-width:500px){

    .full{
        padding:50px 0px; 
    
        width: 500px;
       
   }

.full h1{
    font-size: 30px;
    text-align: center;
}
  .card-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
   
}
.card{
    width: 330px;
    height: 300px;
    border-radius: 14px;
    background-color: black;
    border: 1px solid black;
    margin-left: 0px;
    margin-bottom:10px;
    
}
.card img{
   display:none;
}
}